<div class="panel panel-default">
  <div class="panel-heading">{{announcement.title}}</div>
  <div class="panel-body">{{announcement.timestamp}}</div>
  <div class="panel-body">{{announcement.content}}</div>
  {{#link-to 'announcement' announcement.id}}<button class="btn btn-warning">Edit</button>{{/link-to}}
</div>
