<h1> Welcome to Super Rentals </h1>

<p>We hope you find exactly what you're looking for in a place to stay.</p>

{{#each model.announcements as |announcement|}}
  {{announcement-tile announcement=announcement}}
{{/each}}

{{new-announcement saveAnnouncement="saveAnnouncement"}}

<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{new-rental saveRental="saveRental"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
